<div id="main">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
</div>
<section id="content_wrapper">
    <div class="jumbotron">
        <!-- <h1 class="display-4">Dashboard</h1> -->
       <!-- -------------- Column Center -------------- -->
       <section id="content" class="table-layout animated fadeIn">

        <div class="chute chute-center">

            <div>

                <div class="row headingGridFilter">
                    <div class="col-md-3">
                        <div class="fourBoxColumn">
                            <h2>200</h2>
                            <p>active users</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="fourBoxColumn green">
                            <h2>10</h2>
                            <p>active courses</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="fourBoxColumn purple">
                            <h2>6</h2>
                            <p>certifications</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="fourBoxColumn blue">
                            <h2>10</h2>
                            <p>marketplace Activity</p>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="row headingGridFilter">
                    <div class="col-md-6">
                        <div class="recentActivity">
                            <h2>Recent Activity</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="recentActivity">
                            <h2>Recent Courses</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="recentRegisteredUsers">

                        <div class="col-md-12">
                            <h2>Recent Registered Users</h2>
                        </div>

                        <div class="col-md-3">
                            <div class="secondFourBoxColumn">
                                <div class="bg-grey">
                                    <span>JD</span>
                                </div>
                                <div class="userRegCity">
                                    <h2>John Doe</h2>
                                    <p>lagos, Nigeria</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="secondFourBoxColumn">
                                <div class="bg-grey">
                                    <span>JD</span>
                                </div>
                                <div class="userRegCity">
                                    <h2>Jane Doe</h2>
                                    <p>abuja, Nigeria</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="secondFourBoxColumn">
                                <div class="bg-grey">
                                    <span>CW</span>
                                </div>
                                <div class="userRegCity">
                                    <h2>Clive Ward</h2>
                                    <p>lagos, Nigeria</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="secondFourBoxColumn">
                                <div class="bg-grey">
                                    <span>CD</span>
                                </div>
                                <div class="userRegCity">
                                    <h2>C. Doe</h2>
                                    <p>Port harcourt, Nigeria</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>


            </div>

        </div>

    </section>
    </div>
</section>